body, html { 
  height: 100%;
  }
  
.bg {
background-image: url("../images/backgroundimage.png");
  
  height: 100%;
  
  background-position: cover;
  background-repeat: repeat;
  background-size: cover;
  
}
